.hero {
  /* max-width: var(--max-width); */
  height: 364px;
  background: url(../assets/restaurant/s-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0 auto;
}