body {
  font-family: 'Roboto', sans-serif;  
}

.nav-link,
.nav-item,
.nav-link:focus {
  color: var(--light) !important;
}

.nav-link:hover {
  color: rgb(201, 201, 201) !important;
}

.lead {
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}

.jumbotron {  
  border-radius: 0;
}

@media screen and (max-width: 576px) {
  .display-3 {
    font-size: 3em;
  }

  .works {
    width: 100%;
    overflow: scroll;
  }
}

.footer {
  color: #6c757d;
  background-color: #f5f5f5;  
}
